<table class="table table-container">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Tipo</th>
      <th scope="col">Gênero</th>
      <th scope="col">Data de Nascimento</th>
      <th scope="col">Observação</th>
      <th scope="col">Inativo</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Joao</td>
      <td>Pessoa Jurídica</td>
      <td>Masculino</td>
      <td>06/07/2001</td>
      <td></td>
      <td>Falso</td>
      <td><button class="btn pt-0 fas fa-edit"></button></td>
      <td><button class="btn pt-0 fas fa-trash"></button></td>
    </tr>
  </tbody>
</table>
